html, body {
    margin: 30px;
    padding: 10;
 background: url('images.jpg');
}
  
  canvas {
    display: block;
    filter: drop-shadow(10px 10px 20px rgb(960, 680, 153));
    border-radius: 55px;
  }
  
